@model HomeViewModel
@*@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager
@{
    AppUser user = _userManager.FindByNameAsync(User.Identity.Name).Result;
}*@
@{
    Slider slide;
}
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">

        @for (int i = 0; i < Model.Sliders.Count; i++)
        {
            @(slide = Model.Sliders[i])
            ;
            <!-- ltn__slide-item -->
            <div class="ltn__slide-item ltn__slide-item-2  ltn__slide-item-3-normal ltn__slide-item-3">
                <div class="ltn__slide-item-inner  @(i%2==0?"":"text-right text-end")">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="@slide.Icon"></i></span> Real Estate Agency</h6>
                                        <h1 class="slide-title animated ">@slide.Title <br>@slide.Subtitle</h1>
                                        <div class="slide-brief animated">
                                            <p>@slide.Desc</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="@slide.BtnUrl" class="theme-btn-1 btn btn-effect-1">@slide.BtnText1</a>
                                            <a href="@slide.BtnUrl2" class="btn btn-transparent btn-effect-3">@slide.BtnText2</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img @(i%2==0?"":"slide-img-left")">
                                    <img src="~/img/slider/@slide.Image" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- SLIDER AREA END -->

<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-120 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="~/img/others/@Model.Settings["AboutImage"]" alt="About Us Image">
                    <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">

                        <div class="ltn__video-img ltn__animation-pulse1">
                            <img src="~/img/others/@Model.Settings["AboutVideoImage"]" alt="video popup bg image">
                           <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="@Model.Settings["AboutVideoLink"]" data-rel="lightcase:myCollection">
                                <i class="@Model.Settings["AboutVideoIcon"]"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                        <h1 class="section-title">
                            @Model.Settings["AboutTitle"]<span>.</span>
                        </h1>
                        <p>
                            @Model.Settings["AboutDesc"]
                        </p>
                    </div>
                    <ul class="ltn__list-item-half clearfix">
                        @foreach (var aminitie in Model.Tags)
                        {
                            <li>
                                    <i class="@aminitie.Icon"></i>
                                @aminitie.Name
                            </li>
                        }
                    </ul>
                    <div class="ltn__callout bg-overlay-theme-05  mt-30">
                        <p>
                            @Model.Settings["AboutSubtitle1"] <br>
                            @Model.Settings["AboutSubtitle2"]
                        </p>
                    </div>
                    <div class="btn-wrapper animated">
                        <a href="@Model.Settings["AboutServiceBtnUrl"]" class="theme-btn-1 btn btn-effect-1">@Model.Settings["AboutServiceBtnText"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->
<!-- COUNTER UP AREA START -->
<div class="ltn__counterup-area section-bg-1 pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-select"></i>
                    </div>
                    <h1><span class="counter">560</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Total Area Sq</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-office"></i>
                    </div>
                    <h1><span class="counter">197</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Apartments Sold</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-excavator"></i>
                    </div>
                    <h1><span class="counter">268</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Total Constructions</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-color-white---">
                    <div class="counter-icon">
                        <i class="flaticon-armchair"></i>
                    </div>
                    <h1><span class="counter">340</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Apartio Rooms</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COUNTER UP AREA END -->
<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-120 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                        <h1 class="section-title">Today Sells Properties</h1>
                        <p>
                            Houzez allow you to design unlimited panels and real estate custom
                            forms to capture leads and keep record of all information
                        </p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before clearfix">
                        <li> Live Music Cocerts at Luviana</li>
                        <li>Our SecretIsland Boat Tour is Just for You</li>
                        <li>Live Music Cocerts at Luviana</li>
                        <li>Live Music Cocerts at Luviana</li>
                    </ul>
                    <ul class="ltn__list-item-2 ltn__list-item-2-before ltn__flat-info">
                        <li>
                            <span>3 <i class="flaticon-bed"></i></span>
                            Bedrooms
                        </li>
                        <li>
                            <span>2 <i class="flaticon-clean"></i></span>
                            Bathrooms
                        </li>
                        <li>
                            <span>2 <i class="flaticon-car"></i></span>
                            Car parking
                        </li>
                        <li>
                            <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                            square Ft
                        </li>
                    </ul>
                    <ul class="ltn__list-item-2 ltn__list-item-2-before--- ltn__list-item-2-img mb-50">
                        <li>
                            <a href="img/img-slide/11.jpg" data-rel="lightcase:myCollection">
                                <img src="~/img/img-slide/11.jpg" alt="Image">
                            </a>
                        </li>
                        <li>
                            <a href="img/img-slide/12.jpg" data-rel="lightcase:myCollection">
                                <img src="~/img/img-slide/12.jpg" alt="Image">
                            </a>
                        </li>
                        <li>
                            <a href="img/img-slide/13.jpg" data-rel="lightcase:myCollection">
                                <img src="~/img/img-slide/13.jpg" alt="Image">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-right">
                    <img src="~/img/others/9.png" alt="About Us Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->
<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                    <h1 class="section-title">Our Main Focus</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter--- justify-content-center">
            @foreach (var feature in Model.Features)
            {
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                        <div class="ltn__feature-icon">
                            <!-- <span><i class="flaticon-house"></i></span> -->
                            <img src="~/img/icons/icon-img/@feature.Icon" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h3><a href="service-details.html">@feature.Title</a></h3>
                            <p>@feature.Desc</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->
<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
                    <h1 class="section-title">Featured Listings</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">
            <!-- ltn__product-item -->
            @foreach (var houses in Model.Houses)
            {
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-4 text-center---">
                        <div class="product-img">
                                <a href="product-details.html"><img src="~/uploads/houses/@houses.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" style="height:300px; width:500px" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                        <li class="sale-badge bg-green">@(houses.IsSold == true ? "For Sale" : "Sold")</li>
                                </ul>
                            </div>
                            <div class="product-img-location-gallery">
                                <div class="product-img-location">
                                    <ul>
                                        <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> @houses.Area.Name</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-img-gallery">
                                    <ul>
                                        <li>
                                            <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                @if (houses.DiscountPercent > 0)
                                {
                                                        <span class="price">$@((houses.SalePrice * (100 - houses.DiscountPercent) / 100).ToString("0.00"))</span>
                                                        <del class="price-old">$@houses.SalePrice</del>
                                                                <span class="price-discount">@houses.DiscountPercent.ToString("0.##")%</span>
                                }
                                else
                                {
                                                        <span class="price">$@houses.SalePrice</span>
                                }

                            </div>
                            <div><h3><a asp-controller="house" asp-action="detail" asp-route-id="@houses.Id">@houses.Title</a></h3></div>
                            <h2 class="product-title"><a href="product-details.html"></a></h2>
                            <div class="product-description">
                                <p>
                                    @Html.Raw(@houses.Desc)
                                </p>
                            </div>
                            <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                <li>
                                    <span>@houses.BedroomCount <i class="flaticon-bed"></i></span>
                                    Bedrooms
                                </li>
                                <li>
                                    <span>@houses.BathroomCount <i class="flaticon-clean"></i></span>
                                    Bathrooms
                                </li>
                                <li>
                                    <span>@houses.SquareFt <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                    square Ft
                                </li>
                            </ul>
                        </div>
                        <div class="product-info-bottom">
                            <div class="real-estate-agent">
                                <div class="agent-img">
                                        <a href="team-details.html"><img src="~/uploads/salemanagers/@houses.Realtor.Image" alt="#"></a>
                                </div>
                                <div class="agent-brief">
                                    <h6><a href="team-details.html">@houses.Realtor.FullName</a></h6>
                                        <small>SaleManager</small>
                                </div>
                            </div>
                            <div class="product-hover-action">
                                <ul>
                                    <li>
                                            <a asp-controller="house" asp-action="gethouse" asp-route-id="@houses.Id" class="house-modal-btn">
                                            <i class="flaticon-expand"></i>
                                        </a>
                                    </li>
                                    <li>
                                            <a  asp-action="addtowishList" asp-controller="house" asp-route-houseId="@houses.Id "title="Wishlist" class="add-to-wishList">
                                            <i class="flaticon-heart-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                            <a asp-controller="house" asp-action="detail" asp-route-id="@houses.Id">
                                            <i class="flaticon-add"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--  -->
        </div>
    </div>
</div>
<!-- PRODUCT SLIDER AREA END -->
<!-- CATEGORY AREA START -->
<div class="ltn__category-area section-bg-1-- ltn__primary-bg before-bg-1 bg-image bg-overlay-theme-black-5--0 pt-115 pb-90 d-none" data-bs-bg="img/bg/5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title white-color">Top Categories</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__category-slider-active slick-arrow-1">
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="ltn__category-item ltn__category-item-4 text-center">
                    <div class="ltn__category-item-img">
                        <a href="shop.html">
                            <i class="flaticon-car"></i>
                        </a>
                    </div>
                    <div class="ltn__category-item-name">
                        <h4><a href="shop.html">Parking Space</a></h4>
                    </div>
                    <div class="ltn__category-item-btn">
                        <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CATEGORY AREA END -->
<!-- CATEGORY AREA START -->
<div class="ltn__category-area ltn__product-gutter section-bg-1--- pt-115 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Aminities</h6>
                    <h1 class="section-title">Building Aminities</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__category-slider-active--- slick-arrow-1 justify-content-center">
            @foreach (var aminitie in Model.Tags)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ltn__category-item ltn__category-item-5 text-center">
                        <a href="shop/index">
                            <span class="category-icon"><i class="@aminitie.Icon"></i></span>
                            <span class="category-title">@aminitie.Name</span>
                            <span class="category-btn"><i class="flaticon-right-arrow"></i></span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- CATEGORY AREA END -->
<!-- TESTIMONIAL AREA START (testimonial-7) -->
<div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Testimonial</h6>
                    <h1 class="section-title">Clients Feedback</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
            @foreach (var cm in Model.Comments)
            {
                <div class="col-lg-4">
                    <div class="ltn__testimonial-item ltn__testimonial-item-7">
                        <div class="ltn__testimoni-info">
                            <p>
                                <i class="flaticon-left-quote-1"></i>
                                @cm.Text
                            </p>
                            <div class="ltn__testimoni-info-inner">
                                    <div style="margin-right:15px">
                                        <i class="fa-solid fa-user" style="font-size:25px"></i>
                                    </div>
                                <div class="ltn__testimoni-name-designation">
                                    <h5>@cm.AppUser.Fullname</h5>
                                    <label>Customer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--  -->
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->
<!-- BRAND LOGO AREA START -->
<div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-290 pb-110 plr--9 d-none">
    <div class="container-fluid">
        <div class="row ltn__brand-logo-active">
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/1.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/2.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/4.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/5.png" alt="Brand Logo">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__brand-logo-item">
                    <img src="~/img/brand-logo/3.png" alt="Brand Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND LOGO AREA END -->

